[2016-02-11 23:24] Jazzeroki opened #1 "Newtonsoft Json Dependency in Nuget"
Just a small issue but the release in nuget doesn't allow the used of the latest version of newtonsoft json.

[2016-02-12 12:31] alexstrong29 commented on #1
I would also love a fix for this! The dependency of Json just needs to include the current latest version 8.0.2

[2016-02-14 13:52] #1 closed

[2016-02-15 20:38] Jazzeroki opened #2 "Android Scheduled Notifications"
I was trying to do the following to schedule a series of messages on Android to go out.  I could get an initial message to appear which would appear right away but I could never get any further scheduled messages to appear later.  One other behavior I noted was after clicking on a notification it didn't want to reopen even the opening screen of my Xamarin Forms app.

btw thanks for fixing the json

[2016-02-28 18:16] aritchie commented on #2
1.5 has been released to nuget with the fix for this

[2016-02-28 18:16] #2 closed

[2016-04-16 21:59] EmilAlipiev opened #3 "how to use Sounds?"
I cant find any usage sample or what this sounds is for? Can you please explain? is it for playing any sound?

[2016-04-16 22:04] aritchie commented on #3
I'll update the samples when I have time.  It basically is a string name for a resource file on each platform.  Review the documents of each platform on how to store those resource files

[2016-04-16 22:04] #3 closed

[2016-04-16 22:40] EmilAlipiev commented on #3
You mean it is name for a Sound Resource? And we can play any sound from xamarin forms project?

[2016-04-16 23:28] aritchie commented on #3
Xamarin forms is irrelevant in this question.  It is what the api for each OS will do.  Take a look at the apple and android docs to see the restrictions and setup

[2016-04-17 13:57] lobster2012-user opened #4 "Add ticker (for android) in notification and builder"
and icons, thanks

[2016-04-17 14:30] lobster2012-user commented on #4
and icons.

[2016-04-17 14:34] aritchie commented on #4
I don't add features that are only valid on one platform.  Icons on android use resource IDs and tickers also don't apply on any other platform

[2016-04-17 17:43] #4 closed

[2016-04-24 18:28] EmilAlipiev opened #5 "second activity from notification"
Is it possible to define a second activity when you tap the notification? I would like open a page from the notification but i couldn't figure out how to do it?

[2016-04-24 18:35] aritchie commented on #5
No.  Probably never will be because it wouldn't be very cross platform.  Managing the incoming notification is done on the platform usually via one location and then forwarded appropriately.  I may allow context data to be shipped through the notification PCL to be read on the platform in the future.

If you are wondering what the library can do, PLEASE look at the source code.  I don't mind suppo

[2016-04-24 18:35] #5 closed

[2016-04-29 18:41] acaliaro opened #6 "Unfortynately, "my app name" has stopped on Android"
Hi @aritchie .
I have this problem using your library.
It exists only on Android (and not all version... I am trying 4.4.2 a Symbol Motorola TC700H but on other devices it does not appear).
The library works well (I am using 1.5.2). The problem appears when  I restart the handheld.
The message "Unfortunately XXX has stopped" appears.
The only way to have not this message at startup is to remove yo

[2016-04-29 19:05] acaliaro commented on #6
Sorry @aritchie... It appears on all android devices we have tested

[2016-04-29 21:02] aritchie commented on #6
you have given me absolutely zero details as to the actual crash.  You have to supply proper details like a stack trace at the very least if you are hoping for any sort of help!

[2016-04-29 21:03] acaliaro commented on #6
Thanks @aritchie . Can you tell me how can I send you a Trace. The problem appears when I restart the handheld without run the app. Exists an Android Stack? Sorry for the question...

[2016-04-29 22:28] acaliaro commented on #6
Hi @aritchie . I think to have a log. I attach it. It's a log at device startup. GeoBadge is my app... at the end of the log, you can see "process died"

[log.txt](https://github.com/aritchie/notifications/files/243306/log.txt)

[2016-04-30 10:30] acaliaro commented on #6
@aritchie I have this project that has the problem.
Can you take a look? Thanks

[altbeacon-forms-test.zip](https://github.com/aritchie/notifications/files/243548/altbeacon-forms-test.zip)

[2016-04-30 11:55] aritchie commented on #6
@acaliaro I'm not debugging apps for you.  This isn't even a testcase, it is another app.  The fact is, I use this plugin in my apps without issue at the moment.  Your log file doesn't suggest any problem with the library, though I do see permission errors around location and you're using beacons.

This library uses a bootcomplete event that starts up your app automatically so that scheduled notif

[2016-04-30 11:55] #6 closed

[2016-05-24 07:56] De4th69 opened #7 "Android Vibration Notifications"
Hi,
sorry if this is a stupid question, but is there a way to use the Vibration with a scheduled notification?
Right now it doesn't vibrate when I add a scheduled one and in your source there's a vibrate method. But no event to hook the method onto.

[2016-05-24 11:33] aritchie commented on #7
Not a stupid question at all.  It looks like a defect which should be easy to fix sometime today.

The only thing I would ask in the future is what platform(s) you experienced this issue on.

Visual inspection of the code suggests both iOS and android (not available on Windows from what I've seen)

[2016-05-24 11:35] De4th69 commented on #7
I've experienced it on Android. Can't say it for iOS though.

Yeah I looked to get this to work before I found your Plugin and it's not available on Windows.

[2016-05-24 13:37] De4th69 commented on #7
Oh I didn't recognized that you changed the title. So it should've worked?

A little side question if your not bothered. But how would you add notifications based on Dates given for Appointments? Right now I'm calculating the difference like this:

`var notificationTime = (int)(DateTime.Now - Appointment.CombinedStartDate).TotalMinutes + Appointment.Reminder;`

And then adding it to the notificati

[2016-05-24 14:17] aritchie commented on #7
Actually, this is being downgraded to an enhancement because vibration requests only exist on android.

As for your question, you can use the method that takes a full Notification object.  You can set the Date which takes a full DateTime object or you can use When which takes a timespan.  In this case, it sounds like you want to be able to just set the date.

[2016-05-24 14:20] De4th69 commented on #7
Wait what? How could I have missed that! Awesome thank you :+1:

Yeah that's true, it's only working for android. I have some code flinging around from my attempt that could help you if you're interested

[2016-05-30 11:20] aritchie commented on #7
Added as part of 2.0

[2016-05-30 11:20] #7 closed

[2016-07-22 13:27] sivamuralidhar3 opened #8 "Where to place sound assets"
Hi @aritchie can you tell me where to place the sound assets and how to give the path of them.

[2016-07-25 22:44] sirfilipef opened #9 "Notifications in Background"
Hello aritchie, I'm really interested to use your notifications nuget, but I want to ask you if is possible to send notifications while the app is in background. TY

[2016-07-25 22:51] aritchie commented on #9
Yes.  They can be triggered via time or from a background process

[2016-07-25 22:51] #9 closed

[2016-08-01 10:54] aritchie commented on #8
Please read the iOS and android documentation on this.  I only pass string paths through to their implementations

[2016-08-01 10:54] #8 closed

[2017-02-02 20:39] davidvasquezr opened #10 "Notification actions"
I already implemented the notifications and it works perfect, but, Can I add some action to execute when the user does touch in the notification?

[2017-02-02 21:37] aritchie commented on #10
Not from this library.  This library allows you to store metadata to react to it when your app resumes.  You'll need to hook into the appropriate events on both platforms (iOS appdelegate & an intent filter on droid I guess)

[2017-02-02 21:37] #10 closed

[2017-03-01 06:05] jotprabh1 opened #11 "Size of the Developer ID is too large for scheduled notification Exception in UWP"
Hi! I have just started using Xamarin. I am trying to implement your notifications package in my project. But I get an exception on UWP on the line Notifications.Instance.Send(notification) stating that the size of the developer id is too large for scheduled notifications. I have provided my code below:

                Notification notification = new Notification();
                notification.S

[2017-03-01 07:43] jotprabh1 commented on #11
I figured it out. "notificaiton.SetSchedule()" is not working on UWP. I am thinking of implementing it through a background task. I am not sure whether that's the correct approach. Any help in this regard will be highly appreciated.

[2017-03-01 11:42] aritchie commented on #11
Please include the entire exception/stacktrace and I'll take a look

[2017-03-10 05:26] jotprabh1 commented on #11
Updated the stacktrace in the second comment

[2017-03-11 20:18] #11 closed

[2017-03-12 05:39] jotprabh1 commented on #11
Thanks for the update Allan! You are awesome.

[2017-03-28 00:10] philmoz opened #12 "Version 3.0.0 not installable on Android if Newtonsoft.Json 10.0.1 installed."
For Android, Acr.Notifications has a dependancy on Acr.Settings.
Current version of Acr.Settings (5.1.1) is not compatible with Newtonsoft.Json 10.0.1.

[2017-03-28 00:57] #12 closed

[2017-03-28 01:23] philmoz commented on #12
Why is this invalid?

The dependencies listed for Acr.Notifications says Newtonsoft.Json 8.0.0 - 11.0.0 but the install fails because Acr.Settings has a different dependency.

[2017-03-28 20:55] philmoz opened #13 "Android V3.0.0 requires Xamarin.Android.Support.v4 < 24.0.0"
Xamarin.Android.Support.v4 version 24.2.1 is nearly 6 months old, and the current release is 25.1.1.

Why does Acr.Notifications require v4 < 24.0.0?

If this is just a case of the nuget dependencies not being updated, then you could simplify things for everyone by just removing the upper limit on all the dependencies.

[2017-03-28 23:43] aritchie commented on #13
Why am I using an old version?  Simple - I haven't had a need to update it and I'm the primary target audience of the library.  I also haven't done much work on this library in the last 6 months.

That being said, I'm not obligated to keep anything up-to-date.  I don't have to pay attention to every external library update either (hence why I closed your request for JSON.NET).

I'm glad you get va

[2017-03-28 23:43] #13 closed

[2017-04-08 22:04] AknOzgen opened #14 "not compatible with newtonsoft.json 10.0.2"
Version 3.0.0 is not oompatible with newtonsoft.json 10.0.2

[2017-04-08 22:05] AknOzgen commented on #14
And Xamarin.Android.Support.v4 (>= 23.0.1.3 && < 24.0.0)

[2017-04-08 23:54] #14 closed

[2017-04-10 00:48] EmilAlipiev commented on #8
@sivamuralidhar3 have you ever figured out? I tried assets, resources and as embedded resource but none of them didnt work for me.

[2017-04-13 23:54] EmilAlipiev commented on #9
@aritchie can you please explain what do you mean by "via time"? Is that supposed to be something like below? because I tested but it doesnt fire when it app is in the background.

[code]

[2017-04-14 00:01] aritchie commented on #9
@EmilAlipiev It means the time you want the message to fire.  In the case you have there, I don't know what the value of the StartTime is, but it needs to be set in the future.

[2017-04-14 00:01] EmilAlipiev commented on #6
@aritchie  reading your comment above. Do I understand correct that we need to enable "RECEIVE_BOOT_COMPLETED" in manifest in order to get scheduled notifications if app is not running?

[2017-04-14 00:04] aritchie commented on #6
@EmilAlipiev please quit trolling closed issues!  I set the notifications on the alarm manager since v2, so you shouldn't need a receive_boot_completed any longer.

[2017-04-20 13:56] EmilAlipiev opened #15 "[Android]Cannot create scheduled notifications if multiple notifications exist and Cancel all fails"
I am using 3.1.0 version. I have 2 issues;
1) I create multiple scheduled notifications within a loop as below

[code]
First time it works fine. I am able to create more than 1 scheduled notification with different NotificationId. Then I want to insert a single scheduled notification for different date than created ones. It fails with the exception below.

{System.ArgumentException: Error setting

[2017-04-20 15:58] aritchie commented on #15
I've seen this issue when calling too late or too early for a "settings" value (the bug would be with my settings library, not with this library).  It isn't what you're doing that is the problem, it is likely when you are doing it.

Please include the rest of the stack trace into your code so I can see the "where/when" it being called.

[2017-04-20 23:35] EmilAlipiev commented on #15
@aritchie Do you mean entire stack trace of the exception? If yes, this is all I get what I copied above.

[2017-04-21 00:41] aritchie commented on #15
The problem is that it ends where my library begins, so I can't see where the call actually begins.  The two exceptions you have listed are actually the same issue.

What I need to know is if you are calling for notifications to be set in any of the following

- [ ] background operation

- [ ]  application.oncreate (perhaps as part of an init routine)

- [ ] when the app is going to the background

[2017-04-21 15:43] EmilAlipiev commented on #15
I am trying to create a reproducible sample. I will provide you soon but in mean time let me ask you something, maybe you can give me hint. From the for each loop above I get highest notification Id 24 and When I attempt to create a new notification it complains for 26. does it skip to 25. Could that be related?

[2017-04-21 17:49] aritchie commented on #15
It has nothing to do with the number.  I don't discriminate on 25 anywhere in the code :)

Like I said, I've seen this with the settings library when it is run before it is ready or when android is backgrounding.  I have yet to find the root cause and it has been a rare occurrence.

[2017-04-25 13:20] OurDarkLord opened #16 "[windows] The notifications always returns the same id "1""
Hi,
I've been implementing your notification service. It's great and works perfect on android.
But on windows there is a problem that the id is always 1.
You're still able to set multible notifications but they have all the same id 1.

[2017-04-25 13:28] #16 closed

[2017-04-25 13:31] aritchie commented on #16
Thanks for letting me know.  3.1.1 on nuget that will fix this up.

[2017-04-25 13:36] OurDarkLord commented on #16
Thanks!

[2017-04-26 14:39] lidi opened #18 "Notification title assigned to AlertAction instead of AlertTitle"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [x] iOS
 - [] Android
 - [] UWP
 - [] PCL

## Version of OS(s) listed above with issue
all

## Version of Library
v2.0
https://github.com/aritchie/notifications/releases/tag/v2.0

## Expected Behaviour
notification.AlertTitle should contain provided notification title

## Actual Be

[2017-04-26 15:01] aritchie commented on #18
Thanks for the PR.  I can add this to v3.x.  I don't keep old versions around as I don't have the time to support them.

[2017-04-26 15:03] #18 closed

[2017-04-27 12:37] raymond-dillon commented on #10
Is it possible to resume the application from hitting the notification? Can you provide an example of storing metadata along with the notification?

[2017-04-27 12:41] aritchie commented on #10
The notification object contains a dictionary where you can add the key/values.  To pick up this data, you'll need to look into each individual platform for how this metadata is retrieved.

[2017-05-01 13:10] hardcodet opened #19 "Feature Request: Custom IDs"
Would it be feasible to provide an API that allows us to specify the IDs rather than having your library generate them as sequental ints? Since the "thing" we want to schedule probably already has an identifier of sorts (I couldn't think of a use case in my code where that wouldn't be true), having to store a returned ID requires us to write caching and mapping code. An overload that would take th

[2017-05-01 13:14] aritchie commented on #19
Thanks for the FR.  I have actually been considering this idea for a long time and I do agree with it.  I just wanted it to be set automatically or random generation.  I don't want to deal with both scenarios.

[2017-05-01 13:20] hardcodet commented on #19
Regarding the scenarios: That would be an easy overload, not? If specified use that ID, otherwise just generate it (either using your int scheme, or by just generating a GUID? (in case you went for ints rather than strings due to a platform limitation, you probably could still use strings in the API and then hash those with a super low risk of collisions).

[2017-05-01 13:27] aritchie commented on #19
Taking the options directly isn't hard.  It is dealing with the platforms that can be painful.

I have to watch for "collisions" of IDs as some OS's will silently take the ID and overwrite a previous notification schedule.  The other problem is that in order to cancel on android, I need to keep IDs around somewhere and I have a limited storage basin.

[2017-05-01 17:36] hardcodet commented on #19
I don't know the specifics, so I'm sure you're better to judge. My gut feeling was that collisions shouldn't be much of a problem (or responsibility could be delegated to the caller, if solving it generically is a problem), but I might be totally wrong there.

[2017-05-02 10:22] hardcodet opened #20 "Dependency issues on Android"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [x] Android

## Version of OS(s) listed above with issue

MonoAndroid, Version=v7.1, targeting .NETPortable,Version=v4.5,Profile=Profile259

## Version of Library

3.1.2

## Expected Behaviour

Expected NuGet to be installing your 3rd party libraries only.

## Actual Behavior

Any

[2017-05-02 12:04] aritchie commented on #20
I usually draw the line at support requests that revolve around external dependencies like this one.  I'll help you out this one time.  This is not a defect that I have introduced.  This is simply .net standard libraries starting to come into the equation, likely from acr.settings => json.net.

[2017-05-02 12:04] #20 closed

[2017-05-05 13:49] raymond-dillon commented on #10
Can you give me an example of using your notification object to store metadata?

[2017-05-08 10:19] raymond-dillon opened #21 "Scheduled Notification on Android"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [X] Android

## Version of OS(s) listed above with issue

Android 6.0

## Version of Library

3.1.2

## Expected Behaviour

Notification Appears after 10 seconds

## Actual Behavior

Notification doesn't not fire at all when a timespan is provided. A notification without a timespan

[2017-05-08 12:17] KoenDeleij commented on #19
Some time ago I made some quick changes to add reoccurring notifications and add id references.
Pushed the changes to my fork. Might work for you :)

[2017-05-08 13:10] aritchie commented on #21
Works fine for me.  Please send a test case so I can see what is going on.

[2017-05-11 15:18] aritchie commented on #15
Haven't heard back about issue - closing for now

[2017-05-11 15:18] #15 closed

[2017-05-11 23:59] aritchie commented on #21
No response to issue.

[2017-05-11 23:59] #21 closed

[2017-05-20 14:11] EmilAlipiev commented on #15
hey @aritchie, I am really keen to look into this problem of mine. I attempted to create a small clean repro for you earlier but fresh project didnt fail as my original project. i didnt have time in between also. Now I want to download the code and debug through. I see that there is v4.0 on going. So Which version do you suggest me to clone and debug? latest or nuget version?  thanks

[2017-05-21 00:21] EmilAlipiev commented on #15
@aritchie  Sorry for coming back to this so late. I have been busy recently. I attempted to create repro but i wasnt able to reproduce the same crash as happening in my original project. So now I debugged using the source code. Crash is happening at the line             `this.OnPropertyChanged(nameof(CurrentScheduleId));`  in Acr.Notifications.Android\NotificationSettings.cs.  I guess that it trie

[2017-05-21 01:10] EmilAlipiev commented on #15
@aritchie I also recognized that when you use ClearAll, it clears ScheduledIds list but CurrentScheduleId remains from the last inserted one. I am not sure if it is supposed to be.
Beside that CreateScheduleId returns 1 less number than CurrentScheduleId always. Not sure if it is also intented to keep CreateScheduleId  as next seed or last inserted one.

[2017-05-21 15:44] aritchie commented on #15
@EmilAlipiev this issue has absolutely nothing to do with the notification plugin itself as I've already mentioned and as the exception itself shows.  It is to do with the SharedPreferences (which is used via Acr.Settings).

Please let me know the following - Are you calling for the notifications in:
- a background operation
- application.oncreate (perhaps as part of an init routine)
- when the ap

[2017-05-22 19:51] Willan-Daffo opened #22 "How do I set the notification sound to my .mp3 file in Android / Resources /raw folder"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] Android

 - [] PCL

## Version of OS(s) listed above with issue

   Android Nougat 7.0

## Version of Library
  version: 3.1.2

## Expected Behaviour
 I want to add mymp3 file from the Resources/raw/ sound.mp3 file in the notification

## Actual Behavior
 no exception, not sure

[2017-05-22 22:41] aritchie commented on #22
It will be in the Android documentation.  I don't remember all the ins/outs with it.  I don't do anything special under the hood:
[code]

[2017-05-22 22:41] #22 closed

[2017-06-06 10:18] Janx80 opened #23 "UWP Exception: Method not found"
Hi,

This line:

`CrossNotifications.Current.Send("My Title", "My message for the notification");`

raises this exception running the UWP Project (both on Windows 10 x86/x64 machine and Windows 10 Lumia Phone).

[code]

[2017-06-06 11:56] aritchie commented on #23
Please use the issue template (the one you removed) next time if you want a reply.

Please include the entire stacktrace and what version of UWP you are using 10.10586 or 10.15063?

[2017-06-06 12:56] Janx80 commented on #23
Sorry, my mistake.

## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [] Android
 - [x] UWP (10.10586) (Shared Project)
 - [] PCL

## Version of OS(s) listed above with issue
- (PC) Microsoft Windows 10 Pro x64
- (Lumia 650) Microsoft Windows 10 Mobile 10.0.10586.494

## Version of Library
3.2.0 Stable

## Expected Behav

[2017-06-06 13:39] aritchie commented on #23
Ok - is the issue on the phone or the PC or both... your expected behavior suggests phone, but you versions says both.  I need to know where to focus.

Secondly, are you compiling your project with the 15063 SDK as the target version with the min version of 10586?

[2017-06-06 14:09] Janx80 commented on #23
This is the solution!
I was compiling with 15063 as target and min version.

[2017-06-06 19:26] aritchie commented on #23
excellent - glad its resolved.

[2017-06-06 19:26] #23 closed

[2017-06-08 15:55] farukdemir commented on #15
@EmilAlipiev My english not well but T don't know did you solve this error. I got same error. I think that's why you are using acr.settings plugin. When I deleted in my solution Settings.cs the problem has fixed.

[2017-06-08 15:57] aritchie commented on #15
@farukdemir You can't delete the settings library as it is part of the plugin dependencies.  Settings.cs is your own file of some sort.

[2017-06-08 16:03] farukdemir commented on #15
Settings.cs is not Notification plugin's class. This is my own class in helper folder. I deleted this.

[2017-06-08 16:56] farukdemir commented on #15
@aritchie But now I can't use Acr.Settings plugin.

[2017-06-08 19:59] aritchie commented on #15
@farukdemir That's what I mean.... deleting Settings.cs does nothing that would cause any grief for the notifications plugin.  You can restore your Settings.cs file as it is not part of the issue.

The defect we are talking about is something to do with Acr.Settings that has yet to be tracked down.  If you have new information about it (such as any questions I asked above), please post, otherwise

[2017-06-08 20:16] farukdemir commented on #15
@aritchie I'm using Acr.Settings and Acr.Notification plugin is using Acr.Settings. I think my settings are causing a problem on notification settings.

[2017-06-08 20:20] aritchie commented on #15
@farukdemir It is not.  The issue is something low level with Android only in the settings library.  Unless you have actual info or a reproducible case, there is no need to comment further.

[2017-06-11 04:12] ChangePlaces opened #24 "Can't get sounds to work in android"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [x] Android
 - [] UWP
 - [] PCL

## Version of OS(s) listed above with issue
API 23

## Version of Library
3,2,0

## Expected Behaviour
Sound to be played: `CrossNotifications.Current.Send("Notification!", "Message!", "android.resource:///raw/horn");`

## Actual Behavior

[2017-06-11 15:36] aritchie commented on #24
I have fixed the readme so it renders the missing package name part of the path.  Sound does work on android but I'm not sure of the limitations it has.

[2017-06-11 15:36] #24 closed

[2017-06-20 13:45] leutenecker opened #25 "NotificationsImpl.cs: Intent Extras for Android do not work (fix included)"
// Problem in Version 3.2.0 which does not fill the Intent Extras:

var launchIntent = Application.Context.PackageManager.GetLaunchIntentForPackage(Application.Context.PackageName);
            launchIntent.SetFlags(ActivityFlags.NewTask | ActivityFlags.ClearTask);

            var builder = new NotificationCompat
                .Builder(Application.Context)
                .SetAutoCancel(true)

[2017-06-25 03:23] Xantango commented on #25
Yeah, i'm facing the same issue, as i cannot fetch the Extras.
And the above suggestion would do the trick... :)

[2017-06-26 03:02] aritchie commented on #25
I will look into this for the next release.  Please use the issue template in any future filings.

@Xantango +1's are really not helpful

[2017-07-04 00:25] aritchie commented on #19
This is part of v4 which is due any day

[2017-07-04 00:25] #19 closed

[2017-07-04 00:25] aritchie commented on #25
This is fixed in the upcoming v4

[2017-07-04 00:25] #25 closed

[2017-07-24 11:34] Akinnagbe opened #26 "SQLitePCL.raw Error while using CrossNotifications.Current.Send(new Notification() {Id=1, Title = "Order Status", Message = "Your order with ref number 0124 has been updated" });"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [X] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue
Android 6.0

## Version of Library
Acr.Notifications 4.0.0

## Expected Behaviour

## Actual Behavior
_If applicable, please include entire exception - type, message, stacktrace_
Could

[2017-07-24 12:03] aritchie commented on #26
The error is pretty specific.  It looks like a library is missing that is external to this library.  I do use sqlite under the hood and it is included as part of the nuget package.  Take a look at your reference list in your android project to see what SQLitePCL libraries are there as it looks like something wasn't installed properly.

[2017-07-24 17:51] Akinnagbe commented on #26
Hello aritchie,
Thanks for the reply I uninstalled the package as well as all sqlite packages, cleaned the solution and rebuilt the solution. Reinstalled the package again and no more errors BUT I noticed that I didn't get any push notifications.

Thanks

[2017-07-24 18:42] aritchie commented on #26
Please provide a reproducible sample with the issue (and the steps to reproduce)

[2017-07-28 10:49] anne-a opened #27 "Scheduled Notifications not working on Android on v4.0.0"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [x] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue
API 25

## Version of Library
4.0.0

## Expected Behaviour
When creating a Notification with a When or Date property in the future, the notification should not be triggered until the sc

[2017-07-28 23:36] aritchie commented on #26
no response - closing

[2017-07-28 23:36] #26 closed

[2017-07-30 13:42] aritchie commented on #27
This has been resolved in 4.0.2 which has been released to nuget

[2017-07-30 13:42] #27 closed

[2017-08-11 02:40] perez-danilo commented on #27
Hi,
How can i get this 4.0.2 version?
Its not at nuget.
Thanks

[2017-08-11 02:45] aritchie commented on #27
Not sure where you are looking, but it is listed if you search for plugin.notifications

[2017-08-11 19:17] perez-danilo opened #28 "If i reboot the device the notification gone away?"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue

## Version of Library

## Expected Behaviour

## Actual Behavior
_If applicable, please include entire exception - type, message, stacktrace_

## Code of Conduct
* No Library Update Req

[2017-08-11 21:39] aritchie commented on #28
No idea.  It depends on the OS,version, and device settings which is external to this library.

Please follow the post rules in the future

[2017-08-11 21:39] #28 closed

[2017-08-14 16:18] claudiocleberson opened #29 "Cannot update Dbsettings - item has no PK"
Hi Aritichie,

I facing that exception that I couldn't figure the reason out,  Do you know what could cause that?

Android, using Xamarin.Forms.

Plugin version 4.00:

Exception:

 System.NotSupportedException: Cannot update DbSettings: it has no PK
  at SQLite.SQLiteConnection.Update (System.Object obj, System.Type objType) [0x0004e] in <9b4aaa86123841b8bec74a2ddde70f09>:0
  at SQLite.SQLiteConne

[2017-08-14 16:21] perez-danilo commented on #29
I had this problem, the database exists, the ocors the erros.
Unistall the app, cleam tle solution, the deploy an dretry,. I think that gonna work.

[2017-08-14 17:44] claudiocleberson commented on #29
Hi Perez,
Thanks for your tip, but it didn't work.
I uninstalled the app, cleaned the solution(also tried by deleting the bin and obj folders). I still getting the same exception.

[2017-08-14 17:45] aritchie commented on #29
You need to use the latest version of the plugin (4.0.2) and clean out the db.

[2017-08-14 17:45] #29 closed

[2017-08-14 18:00] claudiocleberson commented on #29
I see, I installed Acr.Notification, and another package was also installed Plugin.Notification(4.0.1). I will updated and try the Plugin.Notification 4.0.2.

Thanks!

[2017-08-23 18:43] marcbeck opened #30 "Metadata is not being passed through on iOS"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS

## Version of OS(s) listed above with issue
10.3.1

## Version of Library
4.0.2

## Expected Behaviour
When the iOS UILocalNotification is being created, the UserInfo field is set to the Metadata of the Notification. This means that when receiving the notification in `Recei

[2017-09-08 13:55] gercobrandwijk opened #31 "Documentation that you need an drawable named 'icon'"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [x] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue
All

## Version of Library
4.0.0

## Expected Behaviour
Documentation that you need to have a drawable named 'icon' in your drawable directories. Also an option to set the name of the i

[2017-10-02 14:54] IeuanWalker opened #32 "Scheduled notification not working on Android"
Scheduled notification not working on Android but works on UWP.
Code used
[code]

 - Android

## Version of OS(s) listed above with issue
Min Android Versions - Android 4.0.3 (API Level  15 - Ice cream Sandwich)
Target Android Version - Android 6 - API Level 23

## Version of Library
4.0.2

## Expected Behaviour
Receive notification 5 seconds after button click

## Actual Behavior
Nothing

## Code

[2017-10-11 15:01] drznathou opened #33 "await CrossNotifications.Current.Send THROWS NotSupportedException"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [X] Android
 - [] UWP
 - [X] .NET Standard

## Version of OS(s) listed above with issue
Android 7.0 API 24

## Version of Library
V4.0.0

## Expected Behaviour
Expected to actually send a Notification ^^

## Actual Behavior
in Project Core
`await CrossNotifications.Curren

[2017-10-11 16:40] aritchie commented on #33
Upgrade the nuget package Plugin.Notifications to 4.0.2.  This has already been resolved.

[2017-10-11 16:40] #33 closed

[2017-10-12 07:38] drznathou commented on #33
Thanks for your answer @aritchie ,
I was actually using Plugin.Notifications 4.0.2.
What I did is installing Acr.Notifications yesterday which installed the lastest version of Plugin.Notifications 4.0.2 before I knew Acr.Notifications project moved. So, this morning,  I uninstalled Acr.Notifications and uninstalled/installed Plugin.Notifications.
The result  :fast_forward: it throws the same excep

[2017-10-12 13:10] aritchie commented on #32
can you please provide a reproducible sample.  I'm not experiencing the issue.  It may also be related to #31

[2017-10-12 15:15] ahuber1 opened #34 "System.InvalidOperationException when calling CrossNotifications.Current.CancellAll() on iOS"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)
 - iOS

## Version of OS(s) listed above with issue
iOS 10.3.1 and iOS 11

## Version of Library
4.0.0

## Expected Behaviour
All local notifications should be cancelled without the app crashing.

## Actual Behavior
When calling `CrossNotifications.Current.CancelAll()`, the app crashes

[2017-10-12 15:22] ahuber1 commented on #34
After writing iOS-specific implementation with Xamarin Form's Dependency Service to handle cancelling all notifications, it appears that there is nothing wrong with the call to `UIApplication.SharedApplication.CancelAllLocalNotifications()`. My `CancelAll()` looks like this, and this runs without incident.

[code]

[2017-10-12 15:31] aritchie commented on #34
Please make sure you are using 4.0.2 of Plugin.Notifications.  Also note, that underneath the hood, it uses             UNUserNotificationCenter.Current.RemoveAllPendingNotificationRequests();
            UNUserNotificationCenter.Current.RemoveAllDeliveredNotifications();

Not UIApplication.SharedApplication.CancelAllLocalNotifications

[2017-10-15 10:01] FatMooseHenry commented on #29
Sorry to hijack, but I can only see 4.0.0 as the latest release:
https://www.nuget.org/packages/Acr.Notifications/

For me and others, where should we look for 4.0.2?
Thanks :)

[2017-10-15 10:45] aritchie commented on #29
Acr.notifications just points to plugin.notifications now

[2017-10-15 11:13] FatMooseHenry commented on #29
Ah thanks, found it at:
https://www.nuget.org/packages/Plugin.Notifications/

The nuget link here:
https://github.com/aritchie/notifications
still points to https://www.nuget.org/packages/Acr.Notifications/ which confused me a bit :)

[2017-10-15 15:39] huxaiphaer opened #35 "Plugin.Notifications refused to install in Droid project"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue
-Android

## Version of Library

## Expected Behaviour
Installation

## Actual Behavior
_If applicable, please include entire exception - type, message, stacktrace_

This is my code :
[c

[2017-10-15 15:41] aritchie commented on #35
The ending result doesn't tell me a thing about what the problem could be.  Please provide some more details.

[2017-10-15 15:53] huxaiphaer commented on #35
I have provided more details @aritchie , and it will be my pleasure for your help.

[2017-10-15 15:56] aritchie commented on #35
the code doesn't help because you can't get the actual platform library installed.

I can't figure out from your nuget blast why the library isn't installing.  You need to somehow supply more details around this because the library installs fine in my android projects.

[2017-10-15 15:59] huxaiphaer commented on #35
It's a PCL project am using a Mac on VS17 but i don't have any idea why , it worked on IOS but refused on Droid , is it related to xamarin.forms library or is there any library, because me i see this
[code]

Which isn't clear to me

[2017-10-15 16:04] aritchie commented on #35
Go here - https://www.nuget.org/packages/Plugin.Notifications/ - break down the dependency area and try to install each one of the dependencies until you find your issue.  Whatever it is, sits outside of this library though.  Best of luck

[2017-10-15 16:04] #35 closed

[2017-10-15 16:11] huxaiphaer commented on #35
Thanks , but is my code ok ? please check it or me too

[2017-10-15 16:16] huxaiphaer commented on #35
Man, i tested all the 3 versions but still the same problem , am now totally stuck

[2017-10-15 16:20] aritchie commented on #35
listen man, I don't have the time in life to go through issues like this.  You have some sort of dependency conflict with one of the android support libraries which is external to this library.  I've told you how to attempt to figure out where that issue is.  4.0, 4.0.1, 4.0.2 all have the same dependencies so changing that version isn't relevant.

I'm sorry, but this is as far as I'm willing to g

[2017-10-15 16:22] huxaiphaer commented on #35
Ok

[2017-10-17 13:04] IeuanWalker commented on #32
@aritchie sorry for the long reply, If I have time sometime this week ill create a project to show the problem. As for your other suggestion, I do have an icon.png in the resources > drawable folders and I have set the application icon in the android manifest.

[2017-10-17 13:27] IeuanWalker commented on #32
@aritchie hi, I've technically found the problem. For some reason, the notifications don't work on the emulator but work on my actual phone. Do u know what could cause this?

[2017-10-17 13:31] IeuanWalker commented on #32
@aritchie I also just wondering one the nuget package installs 2 packages?

[2017-10-17 13:33] aritchie commented on #32
No idea why it won't work on the emulator for you.  As I said, I would need something reproducible.

The package name changed to Plugin.Notifications.  Acr.Notifications just redirects.

[2017-10-17 14:32] IeuanWalker commented on #32
@aritchie Ok ill see what I can do, does that mean I can uninstall Acr.notification and just have Plugin.Notification?

[2017-10-19 09:45] drznathou commented on #33
OK did some packages update even thought, My pcl targeting framework is .Net Standard 1.3 It works

[2017-10-23 10:18] IeuanWalker opened #36 "Update to android Nuget Packages clashes with plugin"
Trying to update all android NuGet packages but I get a conflict with this plugin.
![image](https://user-images.githubusercontent.com/6544051/31884085-ef830774-b7e3-11e7-8208-343d61b48f01.png)

 - [] Android

## Version of Library
v4.0.2

[2017-10-23 12:31] aritchie commented on #36
This is not a problem with the plugin.  As stated in the issue template, please do not request library updates like this.

[2017-10-23 12:31] #36 closed

[2017-10-23 19:44] aritchie commented on #34
No follow up received.  Closing

[2017-10-23 19:44] #34 closed

[2017-10-23 19:44] aritchie commented on #32
No follow up received.  Closing

[2017-10-23 19:44] #32 closed

[2017-11-14 13:47] Srinivasdelta opened #37 "How to send Local Notifications when App is closed (Not backgrounded but closed at all or swiped out)"
How to send Local Notifications when App is closed (Not backgrounded but closed at all or swiped out) in Xamarin Forms.  It's working fine when app is running on background but when I close the app it's not working. I am not able to send local push notifications when app was closed.

[2017-11-14 17:39] aritchie commented on #37
Follow the issue template (the one you deleted) in the future if you want help.

I'm assuming this is android and that the data is future dated.  I use the alarm manager, but I don't engage anything responsible for keeping your app alive.  That's for your app code to decide.  You can use an android stick service to keep your app alive if needed.

[2017-11-14 17:39] #37 closed

[2017-11-14 17:58] Srinivasdelta commented on #37
Ok sure thanks for ur help. I will Follow . sorry about that.

[2017-12-04 09:16] thorradin opened #38 "Repeat notification intervals"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)
We are coding this app using Xamarin.Forms (Portable)
 - [] iOS
 - [] Android

## Version of OS(s) listed above with issue

- iOS version 11.2
- Android version 7.1

## Version of Library

4.0.0

## Expected Behaviour
------------------------------------------------------------------
/

[2017-12-04 10:29] aritchie commented on #38
There is no repeat functionality in this plugin at this time

[2017-12-08 07:26] ManojMali0807 commented on #38
Hi @aritchie ,

The plugin is awesome. I am using this for one of my application.
I just want to request you to add the repeat notification functionality also.

Thank you

[2017-12-09 23:50] aritchie commented on #38
@ManojMali0807 I have no plans to add this right now as I don't have a need for it.  It is also extremely rude to request a feature with a timeline from a free OSS library.  Why not contribute back to something that provides you value?  I'd be happy to take a PR

[2017-12-10 00:04] thorradin commented on #38
Maybe Manoj is new to this Github society. But you have to know that it is unprofessional to ask someone that, in here. It's an open source society, and aritchie did more than enough just by sharing this plug in, we love it and we thank you very much aritchie. Keep up the good work and don't feel pressured to do anything outside of your plans.  :)

[2017-12-11 16:20] foppenm commented on #30
Got the same issue here, aritchie fixed it already with commit: "fixes to metadata on apple" id: 2593138a4fc955f4e46c283ea05d1395a1bd2017. Tested with pre-release 5.0.0 beta2 on a "new project" app and can confirm it is fixed :) Thanks!

[2017-12-14 10:53] ManojMali0807 commented on #38
Hi @aritchie ,
Sorry if my post hurt you, that was not my intention.

@thorradin Thank you for your guidance.
I will take care now on words while posting comments.

[2017-12-19 00:44] gimkim opened #39 "How do I handle when the notification was tapped."
How do I handle when the notification was tapped.

On android i've tried setting the Mainactivity with all LaunchMode SingleInstance,SingleTop,SingleTask.
But all give the same result.
When i tapped the notification, It just launch another instance of an app replacing the current one.

How do i create something to handle the parameter received from the notification and use the messagingcenter to t

[2017-12-19 01:33] aritchie commented on #39
Please look this up online.  This doesn't have anything to do with this library.  I am looking into adding an event in a later release.

[2017-12-19 01:33] #39 closed

[2017-12-27 10:37] sunnysannii102 opened #40 "can i repeat the sound until user response just like Alarm"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue

## Version of Library

## Expected Behaviour

## Actual Behavior
_If applicable, please include entire exception - type, message, stacktrace_

## Code of Conduct
* No Library Update Req

[2017-12-27 12:38] aritchie commented on #40
No

[2017-12-27 12:38] #40 closed

[2017-12-28 04:45] sunnysannii102 commented on #40
hy sir!
  Notification noti = new Notification();
            noti.Title = "title";
            noti.Message = "messsage";
          noti.Sound = "alarms";
            noti.Vibrate = true;

            noti.When = TimeSpan.FromSeconds(5);

            await CrossNotifications.Current.Send(noti);
           i used this code and place sound file for android in Resources/raw/sounds/alarms.mp3 and set

[2017-12-28 10:11] SyaoranChang opened #41 "if Notification use When and Id = 1, then app will crash"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [X] Android
 - [] UWP
 - [X] .NET Standard

## Version of OS(s) listed above with issue
Android 7.1.0

## Version of Library
Acr.Notifications 4.0.0

## Expected Behaviour

## Actual Behavior
            await CrossNotifications.Current.Send(new Notification
            {

[2017-12-28 10:18] SyaoranChang opened #42 "await CrossNotifications.Current.Send return void"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [X] Android
 - [] UWP
 - [X] .NET Standard

## Version of OS(s) listed above with issue
Android 7.1.0

## Version of Library
Acr.Notifications 4.0.0

## Expected Behaviour

## Actual Behavior
var id = await CrossNotifications.Current.Send(new Notification
            {

[2017-12-28 12:16] aritchie commented on #42
Look at the interface https://github.com/aritchie/notifications/blob/master/Plugin.Notifications.Abstractions/INotifications.cs

There is no return value on it

[2017-12-28 12:16] #42 closed

[2017-12-28 12:18] aritchie commented on #41
Please include the entire stack trace in the future.  I can already guess what the issue is though.  You are likely creating multiple notifications with the same ID which you cannot do.

You have two choices, 1) you manage the ID and make sure it is unique per notifications OR 2) let the library manage the ID (meaning, you don't set it)

[2017-12-28 12:18] #41 closed

[2018-01-04 20:12] dramos1138 opened #44 "Redirect when click on the notification"
Is there any way to redirect to any specific URL or page when the user clicks on the notification?

Thanks!

[2018-01-05 02:29] aritchie commented on #44
You can use the CrossNotifications.Current.Activated event in v5 which is out as a nuget pre-release.

You can also use the notification metadata and install the appropriate hooks on iOS appdelegate or via an android service

[2018-01-05 02:29] #44 closed

[2018-01-05 17:38] dramos1138 commented on #44
Thank you very much Allan, I´m tryin to implement the Activated event, but nothing happens, here's my code:

private async void Notif()
        {
            try
            {
                var notificacion = new Notification
                {
                    Id = 1,
                    Date = DateTime.Today,
                    Message = "Service Suspended",
                    Title = "Ale

[2018-01-06 02:47] dberroa opened #46 "Default Sound Not Playing on iOS notification"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [x] iOS
 - [] Android
 - [x] .NET Standard

## Version of OS(s) listed above with issue

11
.Net standard 2

## Version of Library

4.0.0

## Expected Behaviour

I expect the default sound to play for the system on iOS.

## Actual Behavior
_If applicable, please include entire exce

[2018-01-06 02:50] aritchie commented on #46
Nope - I don't set any sound.  You have to pass one yourself.

[2018-01-06 02:53] #46 closed

[2018-01-08 15:34] dramos1138 opened #47 "Pre-release Activated doesn't work"
Thank you very much Allan, I´m tryin to implement the Activated event, but nothing happens, here's my code:

private async void Notif()
{
try
{
var notificacion = new Notification
{
Id = 1,
Date = DateTime.Today,
Message = "Service Suspended",
Title = "Alert",
When = TimeSpan.FromSeconds(5)
};
await CrossNotifications.Current.Send(notificacion);
CrossNotifications.Current.Activated += OnActivated;

[2018-01-08 15:44] aritchie commented on #47
This is in beta.  I'm still working on some things.  Please be patient or use the native built in methods in iOS AppDelegate or Android broadcast receivers.

That event in any case, will need to go in the main starting points of your application.  Those docs are in dev at the moment

[2018-01-08 15:44] #47 closed

[2018-01-08 15:52] dramos1138 commented on #47
Thanks Dude!

[2018-02-01 18:03] Kilowhisky opened #48 "Not compatible with Xamarin.Android.Support.v4 26.1.0.1"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [*] Android
 - [] UWP
 - [] .NET Standard

## Version of Library
4.0.2

## Actual Behavior
I can't upgrade xamarin packages because it says this plugin is limiting supported versions.

[code]

[2018-02-02 03:06] pedrofcj commented on #30
I just tried with 5.0.0 beta3 and it does not hit the breakpoint on ReceivedLocalNotification.

[2018-03-01 10:02] eduard1989 opened #49 "Android Oreo - Notifications are not shown"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [x] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue
8.1 on Google Pixel

## Version of Library
4.0.0

## Expected Behaviour
Local Notification are shown

## Actual Behavior
Notifactions are not shown.
Since Oreo the notification channel

[2018-03-01 13:36] aritchie commented on #49
I take PR's on the dev branch

[2018-03-16 20:11] hushyon opened #50 "Notification shows up right away instead of waiting for scheduled time"
Code:

                    await CrossNotifications.Current.Send(new Notification
                    {
                        Id = 1,
                        Title = "Test title here",
                        Message = "Test message here",
                        When = TimeSpan.FromSeconds(10),
                    });

## Please check all of the platforms you are having the issue on (if platfor

[2018-03-28 20:33] erhan0 commented on #48
I have this exact same problem. Is there a way to loosen the Plugin.Notifications constraint to allow 26.0.0 and above?

[2018-04-02 18:09] TheJenne18 opened #51 "Severity Code Description Project File Line Suppression State Error Unable to find a version of 'Xamarin.Android.Support.v4' that is compatible with 'Plugin.Notifications 4.0.0 constraint: Xamarin.Android.Support.v4 (>= 25.3.1 && < 26.0.0)'."
When i try to install this package: I receive this error: `Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to find a version of 'Xamarin.Android.Support.v4' that is compatible with 'Plugin.Notifications 4.0.0 constraint: Xamarin.Android.Support.v4 (>= 25.3.1 && < 26.0.0)'.			0
`

[2018-04-02 18:13] #51 closed

[2018-04-02 18:14] #38 closed

[2018-04-02 18:16] aritchie commented on #50
When will be gone in the next release.  Just use 'Date'.  Couldn't reproduce anyhow

[2018-04-02 18:16] #50 closed

[2018-04-08 19:17] vijaypalve opened #52 "Notification not display on specific date"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue
Android 7.0
iOS 11

## Version of Library

## Expected Behaviour
Display on specific Date
Ex.
CrossLocalNotifications.Current.Show("Warranty", "Check", 1, DateTime.Now.AddDays(2));
var n

[2018-04-10 19:51] EmilAlipiev commented on #48
so is it advised to use pre release if I am on support libraries 27? how stable is the pre release? :)

[2018-04-10 22:09] EmilAlipiev commented on #52
what is Show? dont you have to use Send method. I thought that you can only use date or when parameters but not at the same time. in your case, you should use date parameter. Sorry I came back to this library after using long time a go earlier versions and this is the way it was working before.

[2018-04-10 22:10] EmilAlipiev opened #53 "PreRelease Send doesnt return Id?"
I am using pre-release because of using support 27 libraries but I cant figure out how to get Notification id from send. Is there some logic change here or it is incomplete yet?

[2018-04-10 22:12] aritchie commented on #53
I don’t do support on betas.  PRs only.  The betas are for my testing

[2018-04-10 22:12] #53 closed

[2018-04-23 01:38] thanhcs opened #54 "[Question] Latest nuget package should be 4.0.2"
Has version 4.0.2 been pushed to Nuget yet? The current latest is 4.0.0.

[2018-04-23 01:40] thanhcs commented on #54
Sorry. The name of the package changed. See it now: https://www.nuget.org/packages/Plugin.Notifications/5.0.0-beta3

[2018-04-23 01:40] #54 closed

[2018-04-23 04:30] osith opened #55 "Notification full content not showing, even can't pull down and view more"
## Please check all of the platforms you are having the issue on (if platform is not listed, it is not supported)

 - [] iOS
 - [] Android
 - [] UWP
 - [] .NET Standard

## Version of OS(s) listed above with issue

## Version of Library

## Expected Behavior
Need to show the notification full content.

## Actual Behavior
Only show one line of text and put few (...)

[2018-04-23 10:36] #55 closed

[2018-04-24 11:30] mo-kml opened #56 "Method 'SQLite.SQLiteConnection.CreateTable' not found"
im trying to send a notification in android 6.0 but i got this error after calling
`            await CrossNotifications.Current.Send(new Notification { Title = "My Title", Message = "My message for the notification" });
`
 - [] Android
 - [] .NET Standard

[2018-05-01 14:31] welfabri commented on #52
It's the same for me. Did you figure out how to solve it?

[2018-05-27 22:12] klucyszy commented on #56
@mo-kml  Do you resolve your issue? Hitting same error during table creartion. Any tips?

[2018-05-28 12:19] aritchie commented on #56
Use plugin.notifications , not acr.notifications

[2018-06-01 17:42] finnsea commented on #49
Has anyone started to take this one on? Interested in potentially updating this, but don't want to do work someone else is already doing!

[2018-06-09 11:03] mtbgithub commented on #33
I've updated every package in my project and am using 4.0.2 - I still get this error.  Not using PCL, using shared.

[2018-06-19 14:17] jordan-hewitt commented on #48
Bump, did anyone find a workaround?  I really do not want to have to revert my android packages to older versions to get this to work.

[2018-07-02 16:28] she2 commented on #48
@jordan-hewitt I used https://www.nuget.org/packages/Plugin.Notifications/5.0.0-beta3. The issue was resolved.

[2018-07-05 18:36] polystyreneMan commented on #48
Is anyone else getting the following error on 5.0.0-beta3 to your Android project? I'm trying to use it for the same reason as you guys, but it won't install:

_Failed to add reference. The package 'Plugin.Notifications' tried to add a framework reference to 'System.Collections' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance.

[2018-07-05 18:44] aritchie commented on #48
I don't support PCL any longer.  Also, this defect is being closed since I don't take requests for support library bumps.  Use the beta... I will be doing a release in the near future.

[2018-07-05 18:44] #48 closed